@model ICollection<KurumsalWebProjesi.Models.Model.Yorum>
    @{ 
        Layout = null;
    }

<hr />
     <h3>Yorumlar</h3>
<hr />
     <div class="media mb-4">
         @foreach (var item in Model)
         {
             
                

                    <hr />
                    <img class="d-flex mr-3 rounded-circle" width="25" height="25" src="~/Content/sitefolder/images/user-1.jpg" alt="">
                    <div class="media-body">
                         <h5 class="mt-0">Yorumu Yazan:  @item.AdSoyad</h5>

                         yorum :  @item.Icerik


                    </div>

                              



         }
     </div>

