@model KurumsalWebProjesi.Models.Model.Hakkimizda


    <div id="fh5co-content">
        <div class="video fh5co-video" style="background-image: url(images/video.jpg);">
            <a href="https://vimeo.com/channels/staffpicks/93951774" class="popup-vimeo"><i class="icon-video2"></i></a>
            <div class="overlay"></div>
        </div>
        <div class="choose animate-box">
            <div class="fh5co-heading">
                <h2>Biz Kimiz ?</h2>
                @Html.Raw(@Model.Aciklama)
            </div>
            
        </div>
    </div>
