@model ICollection<KurumsalWebProjesi.Models.Model.Hizmet>

    <div id="fh5co-project">
        <div class="container">
            <div class="row animate-box">
                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                    <h2>Hizmetlerimiz</h2>
                    
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-md-4 col-sm-6 text-center fh5co-project animate-box" data-animate-effect="fadeIn">
                        <a href="#">
                            
                            <img src="~/Content/sitefolder/images/img_bg_1.jpg" alt="@item.Baslik" class="img-responsive">
                            <h3>@item.Baslik</h3>
                        </a>
                    </div>
                }

            </div>
        </div>
    </div>
