@model IEnumerable<KurumsalWebProjesi.Models.Model.Kategori>
@{
    Layout = null;
}

<style type="text/css">
    .deneme {
        margin-top: 60px;
        margin-left: 120px;
        border-bottom: thin;
    }

    .kutum {
        width: 250px;
        padding: 10px;
        border: 5px solid #d43c17;
        margin: 10px;
    }
</style>


<style type="text/css">
    .btn {
        background-color: white;
        border: 2px solid #09F;
        border-radius: 8px;
        color: #09F;
        padding: 13px 22px;
        
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12pt;
        font-family: Verdana;
        margin: 2px 1px;
        transition: all 0.4s;
        -webkit-transition: all 0.4s;
        -moz-transition: all 0.4s;
        -o-transition: all 0.4s;
    }

        .btn:hover {
            box-shadow: 0 4px 8px 0 gray, 0 6px 20px 0 gray;
        }
    }
</style>


<!-- Sidebar Widgets Column -->
<div class="col-md-3 ">



    <!-- Categories Widget -->
    <div class="card my-4 deneme ">
        <h3 class="card-header">Kategoriler</h3>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-6 test kutum ">
                    <ul class="list-unstyled mb-0 ">
                        @foreach (var item in Model)
                        {


                            <li class="text-center ">
                                <a href="/Home/Blog/@item.KategoriId" class="btn">@item.KategoriAd</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Side Widget -->


</div>
